/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/main/resources/application.yml
/mybatis-generator.properties
/src/main/resources/application-dev.yml
/log/
/log/myspringboot.log
/src/main/java/com/example/transport/service/Constant.java
/src/main/resources/doc
