<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.transport.dao.CompanyLinesMapper" >
  <resultMap id="BaseResultMap" type="com.example.transport.pojo.CompanyLines" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="company_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="arrive_addr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="arrive_tel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="begin_addr" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, company_id, arrive_addr, arrive_tel, begin_addr
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.transport.model.CompanyLinesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company_lines
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from company_lines
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company_lines
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.transport.model.CompanyLinesExample" >
    delete from company_lines
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.transport.pojo.CompanyLines" >
    insert into company_lines (id, company_id, arrive_addr, 
      arrive_tel, begin_addr)
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{arriveAddr,jdbcType=VARCHAR}, 
      #{arriveTel,jdbcType=VARCHAR}, #{beginAddr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.transport.pojo.CompanyLines" >
    insert into company_lines
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="arriveAddr != null" >
        arrive_addr,
      </if>
      <if test="arriveTel != null" >
        arrive_tel,
      </if>
      <if test="beginAddr != null" >
        begin_addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="arriveAddr != null" >
        #{arriveAddr,jdbcType=VARCHAR},
      </if>
      <if test="arriveTel != null" >
        #{arriveTel,jdbcType=VARCHAR},
      </if>
      <if test="beginAddr != null" >
        #{beginAddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.transport.model.CompanyLinesExample" resultType="java.lang.Integer" >
    select count(*) from company_lines
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update company_lines
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.arriveAddr != null" >
        arrive_addr = #{record.arriveAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.arriveTel != null" >
        arrive_tel = #{record.arriveTel,jdbcType=VARCHAR},
      </if>
      <if test="record.beginAddr != null" >
        begin_addr = #{record.beginAddr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update company_lines
    set id = #{record.id,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=INTEGER},
      arrive_addr = #{record.arriveAddr,jdbcType=VARCHAR},
      arrive_tel = #{record.arriveTel,jdbcType=VARCHAR},
      begin_addr = #{record.beginAddr,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.transport.pojo.CompanyLines" >
    update company_lines
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="arriveAddr != null" >
        arrive_addr = #{arriveAddr,jdbcType=VARCHAR},
      </if>
      <if test="arriveTel != null" >
        arrive_tel = #{arriveTel,jdbcType=VARCHAR},
      </if>
      <if test="beginAddr != null" >
        begin_addr = #{beginAddr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.transport.pojo.CompanyLines" >
    update company_lines
    set company_id = #{companyId,jdbcType=INTEGER},
      arrive_addr = #{arriveAddr,jdbcType=VARCHAR},
      arrive_tel = #{arriveTel,jdbcType=VARCHAR},
      begin_addr = #{beginAddr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>