<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.transport.dao.SysShopMapper" >
  <resultMap id="BaseResultMap" type="com.example.transport.pojo.SysShop" >
    <constructor >
      <idArg column="shop_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="shop_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shop_procity" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shop_detailarea" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="wxuser_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="shop_tel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shopcheckstatus" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="shop_url" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    shop_id, shop_name, shop_procity, shop_detailarea, wxuser_id, shop_tel, shopcheckstatus, 
    shop_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.transport.model.SysShopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.transport.model.SysShopExample" >
    delete from sys_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.transport.pojo.SysShop" >
    insert into sys_shop (shop_id, shop_name, shop_procity, 
      shop_detailarea, wxuser_id, shop_tel, 
      shopcheckstatus, shop_url)
    values (#{shopId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{shopProcity,jdbcType=VARCHAR}, 
      #{shopDetailarea,jdbcType=VARCHAR}, #{wxuserId,jdbcType=BIGINT}, #{shopTel,jdbcType=VARCHAR}, 
      #{shopcheckstatus,jdbcType=INTEGER}, #{shopUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.transport.pojo.SysShop" >
    insert into sys_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="shopProcity != null" >
        shop_procity,
      </if>
      <if test="shopDetailarea != null" >
        shop_detailarea,
      </if>
      <if test="wxuserId != null" >
        wxuser_id,
      </if>
      <if test="shopTel != null" >
        shop_tel,
      </if>
      <if test="shopcheckstatus != null" >
        shopcheckstatus,
      </if>
      <if test="shopUrl != null" >
        shop_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopProcity != null" >
        #{shopProcity,jdbcType=VARCHAR},
      </if>
      <if test="shopDetailarea != null" >
        #{shopDetailarea,jdbcType=VARCHAR},
      </if>
      <if test="wxuserId != null" >
        #{wxuserId,jdbcType=BIGINT},
      </if>
      <if test="shopTel != null" >
        #{shopTel,jdbcType=VARCHAR},
      </if>
      <if test="shopcheckstatus != null" >
        #{shopcheckstatus,jdbcType=INTEGER},
      </if>
      <if test="shopUrl != null" >
        #{shopUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.transport.model.SysShopExample" resultType="java.lang.Integer" >
    select count(*) from sys_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_shop
    <set >
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.shopName != null" >
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopProcity != null" >
        shop_procity = #{record.shopProcity,jdbcType=VARCHAR},
      </if>
      <if test="record.shopDetailarea != null" >
        shop_detailarea = #{record.shopDetailarea,jdbcType=VARCHAR},
      </if>
      <if test="record.wxuserId != null" >
        wxuser_id = #{record.wxuserId,jdbcType=BIGINT},
      </if>
      <if test="record.shopTel != null" >
        shop_tel = #{record.shopTel,jdbcType=VARCHAR},
      </if>
      <if test="record.shopcheckstatus != null" >
        shopcheckstatus = #{record.shopcheckstatus,jdbcType=INTEGER},
      </if>
      <if test="record.shopUrl != null" >
        shop_url = #{record.shopUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_shop
    set shop_id = #{record.shopId,jdbcType=INTEGER},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      shop_procity = #{record.shopProcity,jdbcType=VARCHAR},
      shop_detailarea = #{record.shopDetailarea,jdbcType=VARCHAR},
      wxuser_id = #{record.wxuserId,jdbcType=BIGINT},
      shop_tel = #{record.shopTel,jdbcType=VARCHAR},
      shopcheckstatus = #{record.shopcheckstatus,jdbcType=INTEGER},
      shop_url = #{record.shopUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.transport.pojo.SysShop" >
    update sys_shop
    <set >
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopProcity != null" >
        shop_procity = #{shopProcity,jdbcType=VARCHAR},
      </if>
      <if test="shopDetailarea != null" >
        shop_detailarea = #{shopDetailarea,jdbcType=VARCHAR},
      </if>
      <if test="wxuserId != null" >
        wxuser_id = #{wxuserId,jdbcType=BIGINT},
      </if>
      <if test="shopTel != null" >
        shop_tel = #{shopTel,jdbcType=VARCHAR},
      </if>
      <if test="shopcheckstatus != null" >
        shopcheckstatus = #{shopcheckstatus,jdbcType=INTEGER},
      </if>
      <if test="shopUrl != null" >
        shop_url = #{shopUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.transport.pojo.SysShop" >
    update sys_shop
    set shop_name = #{shopName,jdbcType=VARCHAR},
      shop_procity = #{shopProcity,jdbcType=VARCHAR},
      shop_detailarea = #{shopDetailarea,jdbcType=VARCHAR},
      wxuser_id = #{wxuserId,jdbcType=BIGINT},
      shop_tel = #{shopTel,jdbcType=VARCHAR},
      shopcheckstatus = #{shopcheckstatus,jdbcType=INTEGER},
      shop_url = #{shopUrl,jdbcType=VARCHAR}
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>

  <select id="selectByWxuserid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from sys_shop
    where wxuser_id = #{wxuser_id,jdbcType=BIGINT}
  </select>
</mapper>